@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', 'arial';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #6E00FF;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #00F7FF;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background-color: #6200E3;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.university {
  margin: 0 auto;
  width: 450px;
  font-weight: bold;
  color: #FF64CB;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 3em 2em 2em 2em;
  text-align: center;
}

.proj1 {
  position: relative;
}

.proj1::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #E5D5FA;
  top: -3ch;
  left: -15ch;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .85em;
  color: #6E00FF;
  letter-spacing: .5em;
}

.project-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.project-desc {
  color: #252525;
  margin-bottom: 2em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.view-code {
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: .1em;
  display: block;
  padding: .2em 1em;
}

.right, .left {
  margin: 1em;
  border-radius: 1em;
}

.proj2 {
  position: relative;
}

.proj2::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #E5D5FA;
  top: -2ch;
  right: -10ch;
  z-index: -1;
}

.skills {
  background: #FF64CB;
}

.skills-container ul li {
  background: #f8f1f1;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  width: 80px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skill-title {
  font-weight: bold;
}

.skills-desc {
  margin-bottom: 2em;
}

.contact {
  padding: .5em 1em;
}

.contact .bold-title {
  font-weight: 700;
  font-size: 2.4em;
  letter-spacing: .15em;
  text-align: center;
}

.contact .contact-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.contact .center-left2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .input-name {
  text-align: right;
  width: 70px;
  margin: .5em 0;
}

.contact input {
  background-color: #f8f1f1;
  margin: .5em 1em;
  border-radius: 1em;
  width: 250px;
}

.contact input:focus {
  border-color: #6200E3;
}

.contact .contact-message {
  background-color: #f8f1f1;
  margin: 0 1em;
  border-radius: 1em;
  width: 400px;
  height: 140px;
}

.contact .contact-bottom {
  padding: 1em;
}

.contact .center-right {
  background: #FF64CB;
  color: #6200E3;
  width: 130px;
  height: 80px;
  border-radius: 1em;
  font-size: 2em;
  font-weight: 700;
  margin: auto 0 auto .2em;
}

.contact textarea:focus {
  border-color: #6200E3;
}

footer {
  background-color: #6200E3;
}

footer .footer-link {
  color: white;
}
/*# sourceMappingURL=main.css.map */