@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', 'arial';
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.up_image{
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 60px;
    position: fixed;
    z-index: 1;
    display: none;

}

.nav-container{
    background: #6E00FF;

    a{
        color: white;
    }
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        color: #00F7FF;
        font-weight: bold;
    }

    ul{
        display: flex;

        a{
            display: block;
            padding: 0 1em;
        }
    }
}

.social-header, .hero-design, .hero-design2{
    display: none;
}

.hero{
    background-color: #6200E3;
    color: white;
    display: grid;
    text-align: center;
    padding: 2em;   
}

.university{
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
    color: #FF64CB;
}

.scroll{
    width: 30px;
    margin-top: 2em;
}

section{
    padding: 3em 2em 2em 2em;
    text-align: center;
}

.proj1{
    position: relative;
}
.proj1::before{
    
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #E5D5FA;
    top: -3ch;
    left: -15ch;
    z-index: -1;
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85em;
    color: #6E00FF;
    letter-spacing: .5em;
}

.project-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.project-desc{
    color: #252525;
    margin-bottom: 2em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.view-code{
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: .1em;
    display: block;
    padding: .2em 1em;
}

.left{
    margin: 1em;
    border-radius: 1em;
}

.skills{
    background: #FF64CB;
}

.skills-container ul li{
    background: #f8f1f1;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container{
        height: 100px;
        width: 80px;
        display: grid;
        place-content: center;
        margin: 0 auto;
    }
}

.skill-title{
    font-weight: bold;
}

.skills-desc{
    margin-bottom: 2em;
}

.contact{
    padding: .5em 1em;

    .bold-title{
        font-weight: 700;
        font-size: 2.4em;
        letter-spacing: .15em;
        text-align: center;
    }

    .contact-center{
        padding: 0 1em;
    }

    .center-left2{
        display: flex;
    }

    .input-name{
        text-align: left;
        width: 90px;
        margin: .5em 0;
    }

    input{
        background-color: #f8f1f1;
        margin: .5em 0;
        border-radius: 1em;
        width: 50%;
    }

    input:focus{
        border-color: #6200E3;
    }
    
    .contact-message{
        background-color: #f8f1f1;
        margin: 0 1em;
        border-radius: 1em;
        width: 70%;
        height: 140px;
    }

    .contact-bottom{
        padding: 1em;
    }

    .center-right{
        background: #FF64CB;
        color: #6200E3;
        width: 120px;
        height: 80px;
        border-radius: 1em;
        font-size: 2em;
        font-weight: 700;
        margin: auto;
    }

    textarea:focus{
        border-color: #6200E3;
    }
}

footer{
    background-color: #6E00FF;

    .footer-link{
        color: white;
    }
}

@media only screen and (min-width: 800px){

    .proj1::before{
        width: 230px;
        height: 230px;
        top: -3ch;
        left: -13ch;
    }

    .university{
        text-align: left;
    }

    .subtitle{
        text-align: left;
    }

    .skills{
        margin-top: -5em;
        padding-top: 6em;
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 1em;
    }

    .view-code{
        text-align: left;
    }


}

@media only screen and (min-width: 1050px){

    .hero{
        height: 90vh;
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content{
            background: #6200E3;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 2.5em;
                line-height: 1.2em;
            }
        }
    }

    .nav-container{

        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header{
            background: #6E00FF;
        }
    }

    header{
        padding: 1em 1em 1em 3em;
    }

    header, footer{

        a{
            padding: 1em;
        }

        a:hover{
            background-color: #6200E3;
            letter-spacing: .1em;
            border-radius: 25%;
        }

        ul a{
            padding: 1em;
        }
    }

    .social-header{

        padding: 1.6em 4em 0 0;
    }

    section{

        padding: 2em 3em 2em 3em;
    }

    .social-header{

        display: block;

        ul{
            display: flex;
            justify-content: space-between;
            width: 12em;
            float: right;

            img{
                width: 70px;
                margin-bottom: 1em;
            }

            .linked{
                margin-top: .60em;
            }
        }
    }

    .university{
        margin: unset;
    }

    .hero-design{
        display: block;
        margin-left: -75%;
        margin-top: 25%;
        width: 150%;
    }

    .projects{
        text-align: left;

        a.view-code{
            margin-top: 1em;

        }

        a.view-code:hover{
            letter-spacing: .3em;
            width: 20%;
            background-color: #E5D5FA;
            border-radius: 20%;
        }
    }

    .proj1{

        display: grid;
        grid-template-columns: 55% auto;
    }

    .left{
        display: grid;
        place-content: center;
    }

    .right{
        margin-left: 2em;
        margin-top: 3em;
    }

    .proj1::before{
        top: 1ch;
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 1em;
    }
}

@media only screen and (min-width: 1200px){

    .proj1::before{
        top: 5ch;
    }

    section{

        padding: 0 3em 2em 3em;
    }
}

@media only screen and (min-width: 1550px){

    section{

        padding: 0 3em 2em 3em;
    }

    .proj1::before{
        top: 7ch;
    }

    section{

        padding: 0 3em 2em 3em;
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 4em;
    }
}

.circle{
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from{
        transform: translate(262px, 795px);
    }
    to{
        transform: translate(262px, 832px);
    }
}



