### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

# changing the name of the file in the tab and in the link code
RewriteEngine on
RewriteRule Home index.html